body {
    background-color:rgb(65, 90, 75);
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: aliceblue;
    padding: 10px;
    height: auto;
    width: auto;
    text-align: center;
    outline: 2px solid;
}

p {
    color: white;
    height: auto;
    width: auto;
    text-align: center;
}

button {
    display: flex;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: rgb(90, 100, 95);
    color: white;
    transition: 0.5s;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

input {
    padding: 2px;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
    transition: 0.5s; 
}

a {
    text-align: center;
    text-decoration: none;
    display: flex;
}

#resultado {
    color: white;
    height: auto;
    width: auto;
    text-align: center;
}

#resultado2 {
    color: white;
    height: auto;
    width: auto;
    text-align: center;
}